body {
    background:rgb(247,249,249);
    font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.7em;
    color: #323232;
}
canvas {
  border: solid 2px #aaa;
}
.btn {
  padding-left: 20px;
  padding-right: 20px;
}
.ta-c {
  text-align: center;
}